{% load staticfiles %}
<!DOCTYPE html>
<html lang='eng'>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Game Store{% endblock %}</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/cerulean/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='{% static "css/style.css" %}' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    <!-- Social sharing: -->
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c5dae2d83748d0011315322&product=inline-share-buttons' async='async'></script>
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:image" content="{{ og_image }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:title" content="{{ og_title }}">
    <meta name="twitter:description" content="{{ og_description }}">
    <meta name="twitter:image:src" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
  <body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-primary mb-3'>

      <a class='navbar-brand px-md-3' href='{% url "default_view" %}'><i class="fas fa-gamepad"></i> Game Store</a>

      <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#navbarColor01'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarColor01'>
        <ul class='navbar-nav mr-auto'>
        </ul>
        <ul class='navbar-nav navbar-right px-md-3'>
          {% if user.is_authenticated %}
            {% if user.userprofile.is_developer %}
            <li class='nav-item'>
              <a class='nav-link' href='{% url "stats" %}'>Sales Statistics</a>
            </li>
            {% endif %}
            <li class='nav-item'>
              <a class='nav-link' href='{% url "edit_profile" %}'>Profile</a>
            </li>
            {% if user_profile.is_developer %}
            <li class='nav-item'>
              <a class='nav-link' href='{% url "publish" %}'>Publish</a>
            </li>
            {% endif %}
            <li class='nav-item'>
              <a class='nav-link' href='{% url "logout" %}?next={{ request.path }}'>Logout</a>
            </li>
          {% else %}
            <li class='nav-item dropdown'>
              <a class='nav-link dropdown-toggle' data-toggle='dropdown' href='#'>Register / Login</a>
              <div class='dropdown-menu'>
                <a class='dropdown-item' href='{% url "register" %}'>Register</a>
                <a class='dropdown-item' href='{% url "login" %}'>Login</a>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
  </body>
</html>
