{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles%}

{% block body %}
  <form id="game-search-form" method="POST" action="/search">
    {% csrf_token %}
    <div class="search-bar">
      <div class="form-row">
        {{ search_form.query|as_crispy_field }}
        <button type="submit" class="btn bg-primary">Search</button>
      </div>
    </div>
    <div>
      <div class="form-row">
        <div class="game-ownership-filters">
          {{ search_form.player_games_only|as_crispy_field }}
        </div>
        <div class="game-category-filters">
          {{ search_form.categories|as_crispy_field }}
        </div>
      </div>
    </div>
  </form>
  <script type='text/javascript' src='{% static "games/js/search.js" %}'></script>
  <div id="game-search-results">
    {% include 'game_search_results.html' %}
  </div>
{% endblock %}
