{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{game.title}}{% endblock %}

{% block head %}
  <link rel='stylesheet' type='text/css' href='{% static "games/css/style.css" %}' />
{% endblock %}

<div class="container-fluid px-md-3 px-lg-5">
  <div class="row justify-content-center">
    <div class="col col-md-12 col-lg-8">
      <div class="row p-0" style="background: white;">
        <div class="col col-12 p-0">
          {% block game_window %}
            {% if game.image %}
              <div class="embed-responsive embed-responsive-16by9">
                <img class="embed-responsive-item games__card-image" src="{{ game.image.url }}" alt="{{ game.title }}"></img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
