{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Publish{% endblock %}

{% block body %}
<div class="container-fluid px-md-3 px-lg-5">
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-md-10 col-lg-8">
      <div class="card border-0">
        <div class="card-body">
          <form method="POST" action="/publish" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-block bg-primary text-uppercase">Publish</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
