{% extends 'base.html' %}

{% block title %}Stats{% endblock %}

{% block head %}
  <script type="text/javascript" src="http://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  <script type="text/javascript" src="http://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
{% endblock %}

{% block body %}
  <div class="card mx-auto floating">
    <div class="card-body px-lg-5">
      <div id="revenue-chart-container">{{ chart|safe }}</div>
      <ul class="nav nav-tabs" id="sales-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="false">Grouped by Games</a>
        </li>
      </ul>
      <div class="tab-content" id="sales-tab-content">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
          <table class="table">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Game</th>
                <th>Price (EUR)</th>
                <th>Customer</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in sales %}
                <tr>
                  <td>{{ entry.timestamp }}</td>
                  <td>{{ entry.game.title }}</td>
                  <td>{{ entry.price }}</td>
                  <td>{{ entry.user.user.username }}</td>
                  {% if entry.status == 'S' %}
                    <td class="green-text">Succeeded</td>
                  {% elif entry.status == 'P' %}
                    <td class="yellow-text">Pending</td>
                  {% elif entry.status == 'C' %}
                    <td class="red-text">Canceled</td>
                  {% else %}
                    <td class="red-text">Failed</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
          <table class="table">
              <thead>
                <tr>
                  <th>Game</th>
                  <th>Sales Amount</th>
                  <th>Revenue</th>
                </tr>
              </thead>
              <tbody>
                {% for game in sales_per_game %}
                  <tr>
                    <td>{{ game.game__title }}</td>
                    <td>{{ game.total_sales }}</td>
                    <td>{{ game.total_revenue|floatformat:2 }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
