.red-text {
  color: #f00 !important;
}

.green-text {
  color: #008000 !important;
}

.yellow-text {
  color: #da8900 !important;
}

#revenue-chart-container {
  width: 80%;
  margin: 0px auto 20px;
}

.center-box {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #8d8d8d;
  text-align: center;
  display: table;
  background-color: #fff;
}