body {
  background: #292F36; /*#17BEBB;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #212529;
}

a {
  color: #56E39F;
  text-decoration: none;
  background-color: transparent;
}

.card, .btn, .form-control, .card-img-top { border-radius: 0; }

/* TODO: Use SASS to set the primary colour and other settings! */

.bg-primary {
  background: #56E39F !important;
}

.bg-primary.navbar {
  background: transparent !important;
}

.btn {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-primary {
  color: #fff;
  background: #56E39F;
  border-color: #56E39F;
}

.btn-primary:hover {
  color: #fff;
  background-color: #56E39F;
  border-color: #56E39F;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #56E39F;
  border-color: #56E39F;
}

.btn-outline-primary {
  color: #56E39F;
  border-color: #56E39F;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #56E39F;
  border-color: #56E39F;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #56E39F;
  border-color: #56E39F;
}

@media screen and (min-width: 991.98px) {
  .card.floating {
    max-width: 991.98px;
    display: flex;
  }
}

img {
    object-fit: cover;
}
