body {
  /*background: #292F36; /*#17BEBB;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #212529;
}

a {
  color: #5E2BFF;
  text-decoration: none !important;
  background-color: transparent;
}

img {
    object-fit: cover;
}

.card, .btn, .form-control, .card-img-top { border-radius: 0; }

/* TODO: Use SASS to set the primary colour and other settings! */


.bg-primary {
  background: #5E2BFF !important;
}

.bg-primary.navbar {
  background: #5E2BFF !important;
}

.btn {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-primary {
  color: #fff;
  background: #5E2BFF;
  border-color: #5E2BFF;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5E2BFF;
  border-color: #5E2BFF;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5E2BFF;
  border-color: #5E2BFF;
}

.btn-outline-primary {
  color: #5E2BFF;
  border-color: #5E2BFF;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5E2BFF;
  border-color: #5E2BFF;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5E2BFF;
  border-color: #5E2BFF;
}

.games__card-image {

}

.games__card-image:focus, .games__card-image:hover {

}

.games__card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 24px;
  max-height: 24px;
}

.games__card-categories {
  height: 24px;
  overflow: hidden;
}
